[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask-login = "*"
mysqlclient = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-bootstrap = "*"


[dev-packages]

flask-sqlalchemy = "*"
flask-testing = "*"
pytest = "*"


[requires]

python_version = "3.6"
